.card-img-top {
    width: 100%;
    object-fit: cover;
}

.landing-welcome-placeholder{
    text-decoration: underline;
    text-underline-offset: 15px;
}

.recent-news {
    padding-bottom: 50px;
}

.welcome-header{
    background-color: #e3f2fd;
    display: flex;
    align-items: center;
    height: 75px;
}

.recent-header{
    margin-left: 20px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

}

.fade-in.visible {
        opacity: 1;
        transform: translateY(0);
}

.active {
    opacity: 1;
    transform: translateY(0);
}

.recent-projects {
    padding-top: 25px;
    padding-bottom: 25px;
}

.welcome-h1{
    font-size: 72px;
}

.landing-welcome-text{
    background-repeat: no-repeat;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 20px auto;
    cursor: default;
}

.panel, .modal-header {
    background-color: #e3f2fd;
}

.body-whitesmoke{
    background-color: #fafdff;
}
.card-body {
    min-height: 250px;
}

.search-panel {
    z-index: 1;
    top:55px; padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid rgba(0,0,0,0.05);
    border-top:2px solid rgba(0,0,0,0.05);
}

.card-description {
    min-height: 50px;
}

.footer-panel{
    border-bottom: 2px solid rgba(0,0,0,0.08);
    border-top:2px solid rgba(0,0,0,0.08);
    width: 100%;
}

.margin-footer-item {
   margin: 15px;
}


.dropdown-menu, .dropdown-menu-end {
    z-index: 10;
}

.news-card {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 150px;
    padding-top: 25px;
}
@media (max-width: 991px) {
    .vr {
        display: none;
    }

}
@media (max-width: 1176px) {

    .footer-panel {
        display: flex;
        flex-direction: column;
        align-items: center; /* Центровка элементов */
    }

    .d-flex.justify-content-between {
        flex-direction: column; /* Изменение направления для мобильной версии */
        align-items: center; /* Центровка элементов */
    }

    /* Стилизуем элементы для маленьких экранов */
    .margin-footer-item {
        margin: 5px;
    }
}

.tagify--outside {
    border: 0;
}

.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--tags-focus-border-color);
}


