.card-img-top {
    width: 100%;
    object-fit: cover;
}

.landing-welcome-placeholder{
    text-decoration: underline;
}

.recent-news, .recent-projects {
    padding-top: 75px;
    padding-bottom: 75px;
}

.welcome-h1{
    font-size: 72px;
}

.landing-welcome-text{
    background-repeat: no-repeat;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 50px;

    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 20px auto;
    cursor: default;
}

.panel {
    background-color: #e3f2fd;
}

.body-whitesmoke{
    background-color: #fafdff;
}
.card-body {
    min-height: 250px; /* Выберите высоту, которая подходит для ваших нужд */
}

.search-panel {
    z-index: 1;
    top:55px; padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid rgba(0,0,0,0.05);
    border-top:2px solid rgba(0,0,0,0.05);
}

.card-description {
    min-height: 50px; /* Выберите высоту, которая подходит для ваших нужд */
}
.footer-panel{
    border-bottom: 2px solid rgba(0,0,0,0.08);
    border-top:2px solid rgba(0,0,0,0.08);
    float: left;
    width: 100%;
}
.grid2 {
    display:flex;
    padding: 10px 20px 10px 20px;
    gap:175px;
}
.grid2-item {
    text-align: left;
}
.socials{
    display:flex;
    vertical-align: center;
    gap: 10px;
}

.dropdown-menu, .dropdown-menu-end {
    z-index: 10;
}
